{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h2 id="header">Krishna Garments</h2>
    
<p id="container">
    Krishna Garments Welcome You.
</p>

<p id="container">
Why Krishna Garments for purchasing cloth??
<br><br>

Nomally everyone know we sell cloths here, I think here it is available at good reasonable cost,<br>
The pricing is perfect and quality of the product is good and The more you buy the better you save yourself from inflation.
<br><br>
The Starting prices of products for different categories are listed below.
</p>
{% endblock %}
