@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

* {
    color: #28eba0;
    background-color: #0d1b33;
}

#header {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #125e94;
}

#location {
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#loc-title {
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    text-decoration: underline;
    color: red;
}

#container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}